.team {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.team h3 {
	font-size: 1.25em;
	margin: 0;
	padding-bottom: 1rem;
	/* border-bottom: transparent solid 2px; */
}
.workers {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	flex-wrap: wrap;
	text-align: center;
	place-items: center;
}
.color-input {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: transparent;
	border: none;
	
	border-radius: 8px;

}
