.worker {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 8px;
	border: solid 1px #ccc;
	margin: 20px;
	backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

.header {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px 8px 0 0;
	position: relative;
	backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
	background-color: rgba(255, 255, 255, 0.1);
}
.btn-close {
	position: absolute;
	top: 3%;
	right: 3%;
	background-color: transparent;
	color: #6278f7;
}
.btn-close:hover {
	cursor: pointer;
	color: black;
	transition: all 0.1s ease-in-out;
}
.header img {
	width: 100%;
	max-width: 100px;
	border-radius: 1000px;
	margin: 10%;
	border: 3px solid #ccc;
}
.body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 200px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0 0 8px 8px;
}
.body h4 {
	font-size: 1.15em;
	color: #6278f7;
	margin: 5px 0;
	padding: 3% 0;
}
.body span {
	font-size: 1em;
	color: #6278f7;
	margin: 5px 0;
	padding: 3% 0;
	max-width: 25ch;
	height: auto;
}
.btn-fav {
	background-color: transparent;
	color: red;
	position: absolute;
	top: 3%;
	left: 3%;
	font-size: 1rem;
}
.btn-fav:hover {
	cursor: pointer;
	color: black;
	transition: all 0.1s ease-in-out;
}
