.header-container {
	width: 100%;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-container > img {
	width: 100%;
	max-width: 800px;
	border-radius: 8px;
}
